body {
  background-color: #3E574D;
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", monospace; }

.pageContainer {
  height: 100%;
  width: 100%;
  position: absolute; }

.vertAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
  margin: auto; }

.boxContainer {
  display: table;
  width: 100%;
  border-spacing: 26px 13px; }

.box {
  display: table-cell;
  width: 33.3%;
  height: 120px;
  text-align: center;
  background-color: #3E574D;
  border: 10px solid #3E574D;
  padding: 10px;
  -webkit-box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.6); }

#box1 {
  outline: #B0C9D0 solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

#box2 {
  outline: #BDCDA8 solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

#box3 {
  outline: #8EA8B6 solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

#box4 {
  outline: #8CB1CB solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

#box5 {
  outline: #7EC1D8 solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

#box6 {
  outline: #A7BAC6 solid 4px;
  -moz-transition: .4s ease-out;
  -wekbit-transition: .4s ease-out;
  transition: .4s ease-out; }

.boxHeader {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  color: #000000; }

#boxHeader1 {
  background-color: #B0C9D0; }

#boxHeader2 {
  background-color: #BDCDA8; }

#boxHeader3 {
  background-color: #8EA8B6; }

#boxHeader4 {
  background-color: #8CB1CB; }

#boxHeader5 {
  background-color: #7EC1D8; }

#boxHeader6 {
  background-color: #A7BAC6; }

#box1:hover {
  outline: #B0C9D0 solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

#box2:hover {
  outline: #BDCDA8 solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

#box3:hover {
  outline: #8EA8B6 solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

#box4:hover {
  outline: #8CB1CB solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

#box5:hover {
  outline: #7EC1D8 solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

#box6:hover {
  outline: #A7BAC6 solid 10px;
  -moz-transition: .4s;
  -wekbit-transition: .4s;
  transition: .4s; }

a:link,
a:visited {
  text-decoration: none;
  color: #D4DDD9;
  -moz-transition: .2s ease-out;
  -wekbit-transition: .2s ease-out;
  transition: .2s ease-out; }

a:hover {
  color: #FFFFFF;
  -moz-transition: .2s;
  -wekbit-transition: .2s;
  transition: .2s; }

ul {
  list-style-type: none;
  text-align: middle;
  padding: 0;
  font-size: 16px; }

@media only screen and (max-width: 871px) {
  .box {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px; }
  .vertAlign {
    transform: translateY(0%);
    top: 0%;
    bottom: 0%; } }

/*
  .searchForm {
	padding-left: 26px;
	padding-right: 26px;
}
.searchInput {
	width: 100%;
	border: none;
	margin: auto;
	display: block;
	padding: 5px 5px;
	background-color: #343d46;
	border: 10px solid #28323b;
	-webkit-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.6);
	box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.6);
	font-size: 16pt;
	color: #afffa3;
	outline: $color6 solid 4px;
}
*/
